body {
    display: flex;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    background: rgba(gray, 0.1);
}

.root {
    display: flex;
    flex: 1;
    flex-direction: column;
}
